*, :after,:before {
    box-sizing: border-box;
}

:root{
    --primary-color: #FAD6A5;
    --secondary-color: #CFB997;
    --primary-background: #135131;
    --secondary-background: #008000;
    --terciary-background: #6ac9f2;
    --terciary-background_inverted: #560860;
    --button-color: #000000;
    --button-text: #FFFFFF;
    --alt-text: #FF7F50;
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

h1{
    margin: 0em;
}

/*
[tema="light"]{
    --primary-color: #FAD6A5;
    --secundary-color: #CFB997;
    --primary-background: #ffffff;
    --secundary-background: #008000;
}
*/

[tema="dark"]{
    --primary-color: #A5D6FA; /* (un tono azul oscuro) */
    --secondary-color: #97B9CF; /* (un tono azul grisáceo) */
    --primary-background: #222222; /* (un color de fondo principal oscuro) */
    --secondary-background: #333333; /* (un color de fondo secundario oscuro) */
    --terciary-background: #560860; /* (un color de fondo terciario oscuro) */
    --terciary-background_inverted: #6ac9f2; /* (un color de fondo terciario oscuro) */
    --button-color: #FFFFFF;
    --button-text: #000000;
    --alt-text: #FFFF00;
    --shadow-color: #006161;
    --shadow-color-light: white;
}


body{
    min-height: 100vh;
    min-width: 100vw;
    display: contents;
    float: none!important;
    margin: 0vh auto!important;
    background-color: var(--primary-background);
    --nav_title-font: Lobster;
}

body .bg-div {

    overflow:hidden;
}

.nav-container
{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 70px;
    background-color: var(--secondary-background);
    font-size: 15px;
}

.nav-container .icon-family{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container .icon-family h1{
    font-family: var(--nav_title-font);
    font-size: 2.5em;
    margin-inline-start: 10px;
    margin-inline-end: 35px;
    color: var(--primary-color);
    cursor: default;
}

.nav-container .icon-family .house-icon{
    display: flex;
    height: 60px;
    width: 60px;
    font-size: 1.5em;
}

.nav-container .nav-links-box{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.nav-container .nav-links-box li a{
    text-decoration: none;
    padding-inline-end: 15px;
    color:var(--secondary-color);
}

.nav-container .dark-mode-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 25px;
    font-size: 1.5em;
}

.nav-container .dark-mode-container p{
    margin: 0;
    color: var(--button-color);
}

.nav-container .dark-mode-container .dark-mode-box{
    width: 60px;
    height: 34px;
    position: relative;

}

.dark-mode-box .set-dark-mode{
    display: none;
}

.dark-mode-box .slider{
    position: absolute;
    cursor: pointer;
    height: 34px;
    width: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode-box .slider:before{
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color:#000000;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode-box .set-dark-mode:checked + .slider{
    background-color: #FFFFFF;
}

.dark-mode-box .set-dark-mode:focus + .slider{
    box-shadow: 0 0 1px #FFFFFF;
}

.dark-mode-box .set-dark-mode:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode-box .slider.round{
    border-radius: 34px;
}

.dark-mode-box .slider.round:before{
    border-radius: 50%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 400;
}

.personal-info-box{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 30%;
    margin-left: 1%;
    margin-top: 1%;
    justify-content: center;
    min-width: 190px;
    z-index: 100;
}

.personal-info-box .box-styler{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: var(--terciary-background);
    border: 0.2em solid #000000;
    border-radius: 16px;
}

.personal-info-box .box-styler .personal-title h2{
    color: var(--alt-text);
    margin: 0px 0px 6px 20px;
}

.personal-info-box .box-styler .personal-title h3{
    color: var(--alt-text);
    margin: 0px 0px 15px 40px;
}

.personal-info-box .box-styler .image-portrait{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.personal-info-box .box-styler .image-portrait img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 1px solid var(--alt-text);

}

.personal-info-box .box-styler .personal-info p{
    margin: 0px 0px 0px 0px;
}

.home{
    height: 750px;
    background-color: var(--primary-background);
    box-sizing: border-box;
}

.home-container{
    position: absolute;
    color:var(--primary-color);
    right: 10px;
    width: 65%;
    animation: neon 3s infinite;
}
.home-container h1{
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    text-align: center;
}

.bubbles-container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.bubbles-container span{
    position: relative;
    width: 25px;
    height: 25px;
    background: aqua;
    margin: 0 6px;
    border-radius: 50%;
    box-shadow: 0 0 9px 9px #A5D6FA,
    0 0 40px #6ac9f2, 0 0 100px #6ac9f2;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles-container span:nth-child(even){
    background: #560860;
    box-shadow: 0 0 9px 9px #57822f,
    0 0 30px #18c950, 0 0 80px #18c950;
}

.portfolio{
    height: 700px;
    flex-direction: column;
    background-color: var(--primary-background);
}

.portfolio .portfolio-container{
    position: absolute;
    right: 10px;
    width: 65%;
}

.portfolio h1{
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
}

.portfolio article{
    position: relative;
    color: azure;
    border: 2px solid black;
    margin: 20px;
    width: 100% - 20px;
    /* margin-inline-start: 300px; */
}

.portfolio article h2{
    margin: 10px 0px 15px 30px;
    color: var(--primary-color);
}

.portfolio article h3{
    margin: 0px 0px 30px 50px;
    color: var(--secondary-color);
}

.portfolio article p{
    margin: 0px 0px 10px 10px;
    color: var(--secondary-color);
}

.footer-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    background-color: #756e76;
    
    margin: 0px;
}

.footer-box .copyright-text{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-box .footer-button-box{
    position: absolute;
    right: 25px;
    
}

.footer-box .footer-button-box .footer-button{
    height: 25px;
    margin: 10px;
    color: coral;
    background-color: darkred;
    border: 3px solid #dc143c;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-5vh) scale(1);
    }
}


/* media query for stretch dispositives less than 660px of width */

@media (max-width: 800px){
    nav
    {
        height: 50px;
        font-size: 9px;
    }

    nav .icon-family h1{
        font-size: 2.4em;
        margin-inline-start: 10px;
        margin-inline-end: 35px;
    }

    nav .icon-family .house-icon{
        height: 30px;
        width: 30px;
    }

    .nav-container .nav-links-box{
        display: flex;
        flex-direction: column;
        align-items: right;
        list-style-type: none;
        font-size: 1.4em;
        margin: 0px;
        padding-inline-start: 0px;
    }

    .nav-links-box li a{
        padding-inline-end: 8px;
    }
}