*, :after,:before {
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --primary-color: #FAD6A5;
    --secondary-color: #CFB997;
    --primary-background: #1E3A3A;
    --secondary-background: #2E5E5E;
    --terciary-background: #85C7F2;
    --terciary-background_inverted: #560860;
    --button-color: #222222;
    --button-text: #FAD6A5;
    --alt-text: #bb4c07;
    --shadow-color: #FFB0A0;
    --shadow-color-light: white;
}

[tema="dark"]{
    --primary-color: #A5D6FA; /* (un tono azul oscuro) */
    --secondary-color: #97B9CF; /* (un tono azul grisáceo) */
    --primary-background: #121212; /* (un color de fondo principal oscuro) */
    --secondary-background: #1E1E1E; /* (un color de fondo secundario oscuro) */
    --terciary-background: #731A88; /* (un color de fondo terciario oscuro) */
    --terciary-background_inverted: #6ac9f2; /* (un color de fondo terciario oscuro) */
    --button-color: #F0F0F0;
    --button-text: #121212;
    --alt-text: #FFD700;
    --shadow-color: #007373;
    --shadow-color-light: white;
}


body{
    min-height: 100svh;
    min-width: 100svw;
    display: contents;
    float: none!important;
    margin: 0vh auto!important;
    background-color: var(--primary-background);
    --nav_title-font: Lobster;
}

body .bg-div {
    width: 100%;
    min-width: 330px;
    overflow:hidden;
}

.nav-hamburger-box {
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: none;
}

.hamburger-line{
    height: 5px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}

.nav-hamburger-box .hamburger-line:nth-child(1){
    top: 25%;
}

.nav-hamburger-box .hamburger-line:nth-child(3){
    top: 75%;
}

.nav-hamburger-box.active .hamburger-line:nth-child(1){
    position: absolute;
    top: 89%;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 35%;
}

.nav-hamburger-box.active .hamburger-line:nth-child(2){
    opacity: 0;
}

.nav-hamburger-box.active .hamburger-line:nth-child(3){
    position: absolute;
    top: 11%;
    transform: rotate(-45deg) translate(-50%, 50%);
    left: 35%;
}

.nav-container
{
    position: fixed;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 8svh;
    background-color: var(--secondary-background);
    font-size: 1vw;
    z-index: 101;
    border-bottom: 3px solid var(--primary-background);
}

.nav-container .icon-family{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 0.5rem;
}

.nav-container .icon-family h1{
    font-family: var(--nav_title-font);
    font-size: 5.5svh;
    margin-inline-start: 1.4svh;
    margin-inline-end: 1.4svh;
    color: var(--primary-color);
    cursor: default;
}

.nav-container .icon-family .house-icon{
    display: flex;
    height: 70%;
    aspect-ratio: 1/1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.nav-container .icon-family .house-icon img{
    animation: spin 3s  infinite;
}

.nav-container .hamburger-menu {
    position: relative;
    display: flex;
    align-items: flex-end;

}

.nav-container .nav-links-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5svh;
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
}

.nav-container .nav-links-box li a{
    text-decoration: none;
    padding-inline-end: 9px;
    color:var(--secondary-color);
}

.nav-container .dark-mode-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2svh;
    font-size: 2svh;
}

.nav-container .dark-mode-container p{
    margin: 0;
    color: var(--button-color);
}

.nav-container .dark-mode-container .dark-mode-box{
    height: 4svh;
    width: 7.0588svh;
    position: relative;
}

.dark-mode-box .set-dark-mode{
    display: none;
}

.dark-mode-box .slider{
    position: absolute;
    cursor: pointer;
    height: 4svh;
    width: 7.0588svh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode-box .slider:before{
    position: absolute;
    content: "";
    width: 3.0588svh;
    height: 3.0588svh;
    left: 0.470584svh;
    bottom: 0.470584svh;
    background-color:#e4b90f;
    -webkit-transition: .4s;
    transition: .4s;
}


.dark-mode-box .set-dark-mode:checked + .slider:before{
    -webkit-transform: translate(2.5588svh, -0.5svh);
    -ms-transform: translate(2.5588svh, -0.5svh);
    transform: translate(2.5588svh, -0.5svh);
    background-color: transparent;
    box-shadow: 0.5svh 0.5svh 0 0 darkgrey;
}

.dark-mode-box .set-dark-mode:not(:checked) + .slider:before{
    animation: shine 1.2s ease-in-out infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 1rem 0.5svh #e4b90f;
    }
    50% {
        box-shadow: 0 0 1rem 1svh #e4b90f;
    }
    100% {
        box-shadow: 0 0 1rem 0.5svh #e4b90f;
    }
}

.dark-mode-box .slider.round{
    border-radius: 4svw;
}

.dark-mode-box .slider.round:before{
    border-radius: 50%;
}


.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 400;
    margin-top: 8svh;
}


.personal-info-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1%;
    margin-top: 40px;
    z-index: 100;
    transition: 0.02s;
}

.personal-info-box *{
    transition: none;
}

.personal-info-box .box-styler{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--terciary-background);
    border: 0.2em solid #000000;
    border-radius: 16px;
}

.personal-info-box .box-styler .personal-title h2{
    color: var(--alt-text);
    font-size: 2rem;
    margin: 1svw;
}

.personal-info-box .box-styler .personal-title h3{
    color: var(--alt-text);
    font-size: 1.6rem;
    margin: 1svw;
}

.personal-info-box .box-styler .image-portrait{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.personal-info-box .box-styler .image-portrait img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 1px solid var(--alt-text);

}

.personal-info-box .box-styler .information-grid h2{
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

.personal-info-box .information-grid{
    display:flex;
    flex-direction: column;
    margin-top: 0.2rem;
}

.personal-info-box .box-styler .aboutme-info{
    margin-bottom: 0.5rem;
}

.personal-info-box .box-styler .information-grid h2{
    font-size: 2rem;
}

.personal-info-box .box-styler .aboutme-info p{
    color: var(--alt-text);
    margin: 0rem 0.4rem 0px 0.4rem;
    font-size: 1rem;
    font-weight: 600;

}

.personal-info-box .information-grid .socialmedia-info{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 3svh;
}

.personal-info-box .information-grid .socialmedia-info img{
    width: 25%;
    aspect-ratio: 1/1;
}

.personal-info-box .information-grid .socialmedia-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding-bottom: 1svw;
}
.personal-info-box .information-grid .socialmedia-icons a{
    display: flex;
    justify-content: center;
}




.home{
    display: flex;
    flex-direction: row;
    height: 100svh;
    background-color: var(--primary-background);
    box-sizing: border-box;
}

.home-container{
    display: flex;
    z-index: 3;
    color:var(--primary-color);
    width: 70%;
    justify-content: center;
    animation: neon 3s infinite;
}
.home-container h1{
    margin-top: 35px;
    width: 75%;
    text-transform: uppercase;
    font-size: 3svh;
    font-family: "Archivo Black", "Archivo", sans-serif;
    text-align: center;
}

.bubbles-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles-container span{
    position: relative;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    overflow: hidden;
    background: aqua;
    margin: 0 6px;
    border-radius: 50%;
    box-shadow: 0 0 9px 9px #A5D6FA,
    0 0 40px #6ac9f2, 0 0 100px #6ac9f2;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
    z-index: 2;
}

.bubbles-container span:nth-child(even){
    background: #560860;
    box-shadow: 0 0 9px 9px #57822f,
    0 0 30px #18c950, 0 0 80px #18c950;
}


.portfolio{
    background-color: var(--primary-background);
    padding-bottom: 0.8rem;
}

.portfolio .portfolio-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .portfolio-container h1{
    text-align: center;
    font-size: 5svw;
    color: var(--primary-color);
    margin: 10px
}

.portfolio article{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-background);
    box-shadow: var(--secondary-background) 5px 5px 10px 6px;
    border-radius: 15px;
    margin: 20px;
    width: 85%;
    min-height: 250px;
}

.portfolio article a{
    text-decoration: none;
}

.portfolio article h2{
    margin-left: 5rem;
    margin-bottom: 0px;
    color: var(--primary-color);
}

.portfolio article h3{
    font-size: 1.5rem;
    margin: 2svh 2svw 2svh 2svw;
    color: var(--secondary-color);
}

.portfolio article h4{
    font-size: 2rem;
    margin: 2svh 2svw 2svh 2svw;
    color: var(--secondary-color);
}

.portfolio article h6{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    font-size: 2rem;
}

.portfolio article ul{
    margin: 4svh 2svw 8svh 2svw;
}

.portfolio article ul li{
    font-size: 2rem;
    font-weight: 550;
    color: var(--secondary-color);
}

.portfolio article p{
    margin: 2svh 2svw 2svh 2svw;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.portfolio .button-see-more-article-1{
    display: flex;
    margin-left: 2svw;
    margin-right: 2svw;
    margin-bottom: 2svh;
    width: fit-content;
}

.portfolio .button-see-more-article-2{
    display: flex;
    margin-left: 2svw;
    margin-right: 2svw;
    margin-bottom: 2svh;
    width: fit-content;
}

.portfolio .button-see-more-article-3{
    display: flex;
    margin-left: 2svw;
    margin-right: 2svw;
    margin-bottom: 2svh;
    width: fit-content;
}

.portfolio .button-see-more-article-1 p{
    font-size: 3svh;
    cursor: pointer;
    width: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.portfolio .button-see-more-article-2 p{
    font-size: 3svh;
    cursor: pointer;
    width: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.portfolio .button-see-more-article-3 p{
    font-size: 3svh;
    cursor: pointer;
    width: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.portfolio .see-more-article-1{
    display: none;
}

.portfolio .see-more-article-2{
    display: none;
}

.portfolio .see-more-article-3{
    display: none;
}

.portfolio .see-more-article-1.active{
    display: block;
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-color);
    margin: 5svh 5svw 5svh 5svw;
    border-radius: 2vh;
}

.portfolio .see-more-article-2.active{
    display: block;
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-color);
    margin: 5svh 5svw 5svh 5svw;
    border-radius: 2vh;
}

.portfolio .see-more-article-3.active{
    display: block;
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-color);
    margin: 5svh 5svw 5svh 5svw;
    border-radius: 2vh;
}

.portfolio .links-article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4svh 2svw 8svh 2svw;

}

.portfolio .links-article a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio .links-article img{
    height: 10vh;
    width: auto;
    aspect-ratio: 1/1;
    margin: 2svh 2svw 2svh 2svw;
}

.portfolio .links-article .repository-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--button-color) 0.5svw solid;
    border-radius: 8svw;
}

.portfolio .links-article .web-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--button-color) 0.5svw solid;
    border-radius: 8svw;
}

.footer-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    background-color: #756e76;
    margin: 0px;
    padding-top: 1svh;
    padding-bottom: 1svh;
}

.footer-box .copyright-text{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.footer-box .footer-button-box{
    position: static;
    left: 25px;
    margin-right: 2svw;
    
}

.footer-box .footer-button-box a{
    display: flex;
    text-decoration: none;
}

.footer-box .footer-button-box .footer-button{
    height: auto;
    color: var(--button-text);
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;

}

.section-separator{
    transition: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.section-separator *{
    transition: none;
}

.section-separator .section-separator-line {
    display: relative;
    width: 100%;
    height: 0.5em;
    background-color: var(--terciary-background);
}

.section-separator .section-scroll-progress {
    display: relative;
    width: 0%;
    height: 0.5em;
    background-color: var(--terciary-background_inverted);
}

@keyframes animate {
    0%
    {
        transform: translateY(100svh) scale(0);
    }
    100%
    {
        transform: translateY(-5svh) scale(1);
    }
}


.home-container h1{
    animation:text-shadow-pop-br 3s infinite alternate backwards
}

@keyframes text-shadow-pop-br{
    0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;
        transform:translateX(0) translateY(0)}100%{
            text-shadow:1px 1px #555,2px 2px #555,3px 3px #555,4px 4px #555,5px 5px #555,6px 6px #555,7px 7px #555,8px 8px #555;
            transform:translateX(-10px) translateY(-10px)
        }
}
/* media query for small dispositives less than 1100 of width */
@media (max-width: 1100px){

    
    .nav-links-box li a{
        padding-inline-end: 8px;
    }
    
}

@media (max-aspect-ratio: 2/3){

    /* CSS DEL HAMBURGER MENU */
    
    .nav-container .nav-hamburger-box{
        display: block;
    }
    
    .nav-container .hamburger-menu.active{
        position: absolute;
        display: block;
        bottom: -38svw;
        left: 53svw;
        background-color: var(--primary-background);
        border: var(--button-color) 3px solid;
        border-radius: 10px;
        z-index: 100;
    }
    
    .nav-container .hamburger-menu.active .nav-links-box{
        display: flex;
        flex-direction: column;
        font-size: 7svw;
    }
    
    .nav-container .hamburger-menu.active .nav-links-box li{
        margin: 2svw;
    }
    
    .nav-container .hamburger-menu .nav-links-box{
        display: none;
    }
    
    .nav-container .nav-link-box.active{
        display: flex;
        flex-direction: column;
        align-items: left;
        list-style-type: none;
        margin: 0px;
        padding-inline-start: 0px;
    }

}


/* media query for wide dispositives less than 700px of width */

@media (max-width: 750px){
    
    /* CSS DEL HAMBURGER MENU */
    
    .nav-container .nav-hamburger-box{
        display: block;
    }
    
    .nav-container .hamburger-menu.active{
        position: absolute;
        display: block;
        bottom: -38svw;
        left: 53svw;
        background-color: var(--primary-background);
        border: var(--button-color) 3px solid;
        border-radius: 10px;
        z-index: 100;
    }
    
    .nav-container .hamburger-menu.active .nav-links-box{
        display: flex;
        flex-direction: column;
        font-size: 7svw;
    }
    
    .nav-container .hamburger-menu.active .nav-links-box li{
        margin: 2svw;
    }
    
    .nav-container .hamburger-menu .nav-links-box{
        display: none;
    }
    
    .nav-container .nav-link-box.active{
        display: flex;
        flex-direction: column;
        align-items: left;
        list-style-type: none;
        margin: 0px;
        padding-inline-start: 0px;
    }

    /* CSS DEL NAVBAR */

    .nav-container .icon-family .house-icon{
        height: 60%;
    }

    .personal-info-box{
        width: 40%;
    }

    .home-container {
        width: 55%;
    }

    .portfolio .portfolio-container h1{
        font-size: 9svw;
    }
}

/* media query for stretch dispositives less than 460px of width */

@media (max-width: 460px){

    /* CSS DEL NAVBAR */

    .wrapper{
        margin-top: 7svh;
    }

    .nav-container{
        height: 7svh;
    }

    .nav-container .icon-family h1{
        font-size: 4svh;
    }

    .nav-container .hamburger-menu.active{
        bottom: -39svw;
    }

    .personal-info-box{
        width: 50%;
    }

    .home-container {
        width: 40%;
    }

    .home-container h1{
        font-size: 2svh;
    }

    .personal-info-box .box-styler .personal-title h3{
        color: var(--alt-text);
        font-size: 1.2rem;
        margin: 1svw;
    }

    .nav-container .dark-mode-container .dark-mode-box{
        height: 3svh;
        width: 5.2941svh;
        position: relative;
    }
    
    .dark-mode-box .slider{
        position: absolute;
        cursor: pointer;
        height: 3svh;
        width: 5.2941svh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:#FFFFFF;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .dark-mode-box .slider:before{
        position: absolute;
        content: "";
        width: 2.2941svh;
        height: 2.2941svh;
        left: 0.352938svh;
        bottom: 0.352938svh;
        background-color:#e4b90f;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .dark-mode-box .set-dark-mode:checked + .slider:before{
        -webkit-transform: translate(1.9191svh, -0.375svh);
        -ms-transform: translate(1.9191svh, -0.375svh);
        transform: translate(1.9191svh, -0.375svh);
        background-color: transparent;
        box-shadow: 0.375svh 0.375svh 0 0 darkgrey;
    }
    
    .dark-mode-box .set-dark-mode:not(:checked) + .slider:before{
        animation: shine 1.2s ease-in-out infinite;
    }
    
    @keyframes shine {
        0% {
            box-shadow: 0 0 1rem 0.375svh #e4b90f;
        }
        50% {
            box-shadow: 0 0 1rem 0.75svh #e4b90f;
        }
        100% {
            box-shadow: 0 0 1rem 0.375svh #e4b90f;
        }
    }
    
    .dark-mode-box .slider.round{
        border-radius: 3svw;
    }
    


}

/* media query for stretch dispositives less than 360px of width */

@media (max-width: 360px){

    /* CSS DEL NAVBAR */

    .nav-container .icon-family h1{
        font-size: 3svh;
    }
}