*, :after,:before {
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

:root{
    --primary-color: #FAD6A5;
    --secondary-color: #CFB997;
    --primary-background: #135131;
    --secondary-background: #008000;
    --terciary-background: #6ac9f2;
    --terciary-background_inverted: #560860;
    --button-color: #000000;
    --button-text: #FFFFFF;
    --alt-text: #FF7F50;
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

[tema="dark"]{
    --primary-color: #A5D6FA; /* (un tono azul oscuro) */
    --secondary-color: #97B9CF; /* (un tono azul grisáceo) */
    --primary-background: #222222; /* (un color de fondo principal oscuro) */
    --secondary-background: #333333; /* (un color de fondo secundario oscuro) */
    --terciary-background: #560860; /* (un color de fondo terciario oscuro) */
    --terciary-background_inverted: #6ac9f2; /* (un color de fondo terciario oscuro) */
    --button-color: #FFFFFF;
    --button-text: #000000;
    --alt-text: #FFFF00;
    --shadow-color: #006161;
    --shadow-color-light: white;
}


body{
    min-height: 100vh;
    min-width: 100vw;
    display: contents;
    float: none!important;
    margin: 0vh auto!important;
    background-color: var(--primary-background);
    --nav_title-font: Lobster;
}

body .bg-div {

    overflow:hidden;
}

.nav-hamburger-box {
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: none;
}

.hamburger-line{
    height: 5px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}

.nav-hamburger-box .hamburger-line:nth-child(1){
    top: 25%;
}

.nav-hamburger-box .hamburger-line:nth-child(3){
    top: 75%;
}

.nav-hamburger-box.active .hamburger-line:nth-child(1){
    position: absolute;
    top: 89%;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 35%;
}

.nav-hamburger-box.active .hamburger-line:nth-child(2){
    opacity: 0;
}

.nav-hamburger-box.active .hamburger-line:nth-child(3){
    position: absolute;
    top: 11%;
    transform: rotate(-45deg) translate(-50%, 50%);
    left: 35%;
}

.nav-container
{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 6vw;
    min-height: 70px;
    background-color: var(--secondary-background);
    font-size: 1vw;
}

.nav-container .icon-family{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
}

.nav-container .icon-family h1{
    font-family: var(--nav_title-font);
    font-size: 5vw;
    margin-inline-start: 1vw;
    margin-inline-end: 1vw;
    color: var(--primary-color);
    cursor: default;
}

.nav-container .icon-family .house-icon{
    display: flex;
    height: 75%;
    aspect-ratio: 1/1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.nav-container .icon-family .house-icon img{
    animation: spin 3s  infinite;
}

.nav-container .hamburger-menu {
    position: relative;
    display: flex;
    height: 100%;
    align-items: self-end;

}

.nav-container .nav-links-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.4vw;
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
}

.nav-container .nav-links-box li a{
    text-decoration: none;
    padding-inline-end: 9px;
    color:var(--secondary-color);
}

.nav-container .dark-mode-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2vw;
    font-size: 2vw;
}

.nav-container .dark-mode-container p{
    margin: 0;
    color: var(--button-color);
}

.nav-container .dark-mode-container .dark-mode-box{
    height: 5vw;
    width: 8.8235vw;
    position: relative;
}

.dark-mode-box .set-dark-mode{
    display: none;
}

.dark-mode-box .slider{
    position: absolute;
    cursor: pointer;
    height: 5vw;
    width: 8.8235vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode-box .slider:before{
    position: absolute;
    content: "";
    width: 3.8235vw;
    height: 3.8235vw;
    left: 0.58823vw;
    bottom: 0.58823vw;
    background-color:#000000;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode-box .set-dark-mode:checked + .slider{
    background-color: #FFFFFF;
}

.dark-mode-box .set-dark-mode:focus + .slider{
    box-shadow: 0 0 1px #FFFFFF;
}

.dark-mode-box .set-dark-mode:checked + .slider:before{
    -webkit-transform: translateX(3.8235vw);
    -ms-transform: translateX(3.8235vw);
    transform: translateX(3.8235vw);
}

.dark-mode-box .slider.round{
    border-radius: 5vw;
}

.dark-mode-box .slider.round:before{
    border-radius: 50%;
}


.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 400;
}


.personal-info-box{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 30%;
    margin-left: 1%;
    margin-top: 1%;
    justify-content: center;
    z-index: 100;
    transition: none;
}

.personal-info-box *{
    transition: none;
}

.personal-info-box .box-styler{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--terciary-background);
    border: 0.2em solid #000000;
    border-radius: 16px;
}

.personal-info-box .box-styler .personal-title h2{
    color: var(--alt-text);
    margin: 1vw;
}

.personal-info-box .box-styler .personal-title h3{
    color: var(--alt-text);
    margin: 1vw;
}

.personal-info-box .box-styler .image-portrait{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.personal-info-box .box-styler .image-portrait img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 1px solid var(--alt-text);

}

.personal-info-box .box-styler .information-grid h2{
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

.personal-info-box .information-grid{
    display:flex;
    flex-direction: column;
    margin-top: 0.2rem;
}

.personal-info-box .box-styler .aboutme-info{
    margin-bottom: 0.5rem;
}

.personal-info-box .box-styler .aboutme-info p{
    color: var(--alt-text);
    margin: 0rem 0.4rem 0px 0.4rem;
    font-size: 0.9rem;
}

.personal-info-box .information-grid .socialmedia-info{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.personal-info-box .information-grid .socialmedia-info img{
    width: 25%;
    aspect-ratio: 1/1;
}

.personal-info-box .information-grid .socialmedia-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding-bottom: 1vw;
}
.personal-info-box .information-grid .socialmedia-icons a{
    display: flex;
    justify-content: center;
}




.home{
    height: 75vw;
    min-height: 750px;
    background-color: var(--primary-background);
    box-sizing: border-box;
}

.home-container{
    position: absolute;
    color:var(--primary-color);
    right: 5px;
    width: 65%;
    animation: neon 3s infinite;
}
.home-container h1{
    contain: content;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    text-align: center;
}

.bubbles-container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.bubbles-container span{
    position: relative;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    overflow: hidden;
    background: aqua;
    margin: 0 6px;
    border-radius: 50%;
    box-shadow: 0 0 9px 9px #A5D6FA,
    0 0 40px #6ac9f2, 0 0 100px #6ac9f2;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles-container span:nth-child(even){
    background: #560860;
    box-shadow: 0 0 9px 9px #57822f,
    0 0 30px #18c950, 0 0 80px #18c950;
}


.portfolio{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background);
    padding-bottom: 0.8rem;
}

.portfolio .portfolio-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.portfolio .portfolio-container h1{
    text-align: center;
    font-size: 5vw;
    color: var(--primary-color);
    margin: 10px
}

.portfolio article{
    position: relative;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-background);
    box-shadow: var(--secondary-background) 5px 5px 10px 6px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
    width: 85%;
    min-height: 250px;
    /* margin-inline-start: 300px; */
}

.portfolio article a{
    text-decoration: none;
}

.portfolio article h2{
    margin-left: 5rem;
    margin-bottom: 0px;
    color: var(--primary-color);
}

.portfolio article h3{
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

.portfolio article h4{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--secondary-color);
}

.portfolio article h6{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    font-size: 2rem;
}

.portfolio article ul li{
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.portfolio article p{
    margin: 40px 40px 40px 40px;
    color: var(--secondary-color);
}


.footer-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    background-color: #756e76;
    padding: 2vw;
}

.footer-box .copyright-text{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-box .footer-button-box{
    position: static;
    left: 25px;
    
}

.footer-box .footer-button-box .footer-button{
    height: 25px;
    margin: 10px;
    color: coral;
    background-color: darkred;
    border: 3px solid #dc143c;
    border-radius: 10px;
    cursor: pointer;
}

.section-separator{
    transition: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.section-separator *{
    transition: none;
}

.section-separator .section-separator-line {
    display: relative;
    width: 100%;
    height: 0.5em;
    background-color: var(--terciary-background);
}

.section-separator .section-scroll-progress {
    display: relative;
    width: 0%;
    height: 0.5em;
    background-color: var(--terciary-background_inverted);
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-5vh) scale(1);
    }
}


.home-container h1{
    animation:text-shadow-pop-br 3s infinite alternate backwards
}

@keyframes text-shadow-pop-br{
    0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;
        transform:translateX(0) translateY(0)}100%{
            text-shadow:1px 1px #555,2px 2px #555,3px 3px #555,4px 4px #555,5px 5px #555,6px 6px #555,7px 7px #555,8px 8px #555;
            transform:translateX(-10px) translateY(-10px)
        }
}

/* media query for small dispositives less than 1000px of width */
@media (max-width: 1000px){
    .nav-container .icon-family h1{
        font-size: 7vw;
    }
}

/* media query for wide dispositives less than 700px of width */

@media (max-width: 700px){
    .nav-container
    {
        height: 12vw;
        max-height: 70px;
        min-height: 20px;
    }

    /* CSS DEL HAMBURGER MENU */

    .nav-container .nav-hamburger-box{
        display: block;
    }

    .nav-container .hamburger-menu.active{
        position: absolute;
        bottom: -38vw;
        left: 53vw;
        background-color: var(--primary-background);
        border: var(--button-color) 3px solid;
        border-radius: 10px;
        z-index: 100;
    }

    .nav-container .hamburger-menu.active .nav-links-box{
        display: flex;
        flex-direction: column;
        font-size: 7vw;
    }

    .nav-container .hamburger-menu.active .nav-links-box li{
        margin: 2vw;
    }

    .nav-container .hamburger-menu .nav-links-box{
        display: none;
    }


    .nav-container .icon-family h1{
        font-size: 8vw;
        margin-inline-start: 2vw;
        margin-inline-end: 3vw;
    }

    .nav-container .nav-link-box.active{
        display: flex;
        flex-direction: column;
        align-items: left;
        list-style-type: none;
        margin: 0px;
        padding-inline-start: 0px;
    }

    .nav-links-box li a{
        padding-inline-end: 8px;
    }

    .personal-info-box{
        width: 40%;
    }

    .home-container {
        width: 55%;
        font-size: 3vw;
    }

    .portfolio .portfolio-container h1{
        font-size: 9vw;
    }
}

/* media query for stretch dispositives less than 460px of width */

@media (max-width: 460px){

    .nav-container .hamburger-menu.active{
        bottom: -39vw;
    }

    .personal-info-box{
        width: 50%;
    }

    .home-container {
        width: 40%;
        font-size: 2vw;
    }
}