section .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    height: auto;
}

.home .sticker {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inline-size: 16%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.home .sticker .sticker-pink{
    display: none;
}

html[tema="light"] .home .sticker {
    top: 30dvh;
    right: 3dvw;
}

html[tema="dark"] .home .sticker {
    top: 30dvh;
    left: 3dvw;
}

html[tema="light"] .home .sticker .sticker-blue{
    display: none;
}

html[tema="light"] .home .sticker .sticker-pink{
    display: block;
}

html[tema="dark"] .home .sticker .sticker-pink{
    display: none;
}

html[tema="dark"] .home .sticker .sticker-blue{
    display: block;
}

.home h1 {
    font-size: 6dvh;
    font-family: "Bitcount Prop Single";
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding-top: 7dvh;
    padding-bottom: 1.5dvh;
    padding-right: 12dvw;
    padding-left: 12dvw;
}

.home h2 {
    font-size: 3.5dvh;
    font-family: "Bitcount Prop Single";
    font-weight: lighter;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding-top: 0dvh;
    padding-bottom: 0dvh;
    padding-right: 12dvw;
    padding-left: 12dvw;
}

.home .blog-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-top: 10dvh;
    margin-bottom: 10dvh;
    margin-left: 6dvw;
    margin-right: 6dvw;
    border: 1px solid var(--primary-color);
    border-radius: 2dvw;
}

.home .blog-posts-title {
    font-size: 5dvh;
    font-family: "Bitcount Prop Single";
    font-weight: lighter;
    color: var(--primary-color);
    text-align: start;
    margin: 0 0 0 0;
    padding-top: 4dvh;
    padding-bottom: 4dvh;
    padding-left: 3dvw;
    padding-right: 3dvw;
}

.home .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    padding-top: 4dvh;
    padding-bottom: 4dvh;
    padding-left: 3dvw;
    padding-right: 3dvw;
    border-top: 1px solid var(--primary-color);
}

.home .blog-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 0.3rem solid var(--terciary-background_inverted);
    background-color: var(--secondary-background);
    border-radius: 4dvh;
    overflow: hidden;
    cursor: pointer;
}

.home .blog-post:hover {
    box-shadow: 0 0 1dvw var(--primary-color);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.home .blog-post a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.home .blog-post .thumb {
    inline-size: 24dvw;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.home .blog-post .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.home .blog-post .content {
    width: 45dvw;
    margin-left: 7dvw;
}

.home .blog-post h3 {
    margin-top: 0dvh;
    margin-bottom: 0dvh;
    font-size: 4.2dvw;
    font-weight: 800;
    color: var(--creative-text);
}

.home .blog-post p {
    margin-top: 3dvw;
    margin-bottom: 0dvh;
    font-size: 3dvw;
    font-weight: 600;
    color: var(--creative-text);
}


@media (max-width: 400px){
    .home .blog-post .thumb {
        inline-size: 35dvw;
    } 

    /* THE SUM OF INLINESIZE AND WIDTH MUST BE 76. */
    .home .blog-post h3 {
        width: 41dvw;
    }

    .home .blog-post p {
        width: 41dvw;
    }

}